<%= render 'shared/error_messages' %>
<%= link_to "TOPへ", root_path %>
<h1>言語友達検索</h1>
<%= search_form_for @search, url: users_index_path do |f| %>
  <%= f.label :user_name_cont, 'ユーザー名' %>
  <%= f.text_field :user_name_cont %>

  <%= f.label :gender_eq, '性別' %>
  <%= f.label :gender_eq, '指定なし' %>
  <%= f.radio_button :gender_eq, '' %>
  <%= f.label :male, '男性' %>
  <%= f.radio_button :gender_eq, '1' %>
  <%= f.label :female, '女性' %>
  <%= f.radio_button :gender_eq, '2' %><br>

  <%= f.label :age_gteq, '年齡' %>
  <%= f.select(:age_gteq, options_for_select((18..85).to_a)) %>
  <strong>~</strong>
  <%= f.select(:age_lteq, options_for_select((18..85).to_a)) %>  

  <%= f.label :prefecture_id_eq, '地域' %>
  <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, :include_blank => '指定なし' %>
  <br>

  <%= f.label :good_lang, "得意言語" %>
  <%= f.collection_check_boxes :good_langs_id_in, ProgramLang.all, :id, :name %>
  <br>
  <%= f.label :learn_lang, "学びたい言語" %>
  <%= f.collection_check_boxes :learn_langs_id_in, ProgramLang.all, :id, :name %>

  <div>
    <%= f.submit '検索する' %>
  </div>
<% end %>
<br>
<% @users.each do |u| %>
  <a href="/users/<%= u.id %>"><%= u.user_name %></a>
  <%= u.age %>
  <% if u.gender == 'male' %>
    男性
  <% else %>
    女性
  <% end %>
  <%= u.prefecture.name %>
  <% u.good_langs.each do |pg| %>
    得意->
    <span class="badge badge-primary"><%= pg.name %></span>
  <% end %><br>

  <% u.learn_langs.each do |pg| %>
    学び->
    <span class="badge badge-primary"><%= pg.name %></span>
  <% end %><br>
<% end %>
