
<%= link_to "TOPへ", root_path %>
<div class="card-header">
  <h4>ユーザープロフィール</h4>
  メールアドレス
  <%= @user.email %><br>
  表示名
  <%= @user.user_name %><br>
  性別
  <% if @user.gender == 'male' %>
    男性<br>
  <% else %>
    女性<br>
  <% end %>
  年齡
  <%= @user.age %><br>

  得意言語
  <% @user.good_langs.each do |pg| %>
    <span class="badge badge-primary"><%= pg.name %></span>
  <% end %><br>
  学びたい言語
  <% @user.learn_langs.each do |pg| %>
    <span class="badge badge-primary"><%= pg.name %></span>
  <% end %>
</div>

<% if @user.id == @current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>


