<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i", :media => "all" %>
<%= stylesheet_link_tag "me/header/font-awesome.min.css", :media => "all" %>
<%= stylesheet_link_tag "me/header/flaticon.css", :media => "all" %>
<%= stylesheet_link_tag "me/header/style.css", :media => "all" %>

<header class="header-section">
  <div class="container">
    <!-- Site Logo -->
    <div class="site-logo">
      <%= image_tag("/images/logo.PNG", :size => "115x55") %>
    </div>

    <!-- Main Menu -->
    <ul class="main-menu">    
			<li class=""><%= link_to "言語友達検索", users_index_path %></li>

			<li class=""><%= link_to "メッセージ", rooms_path %></li>

			<li class=""><%= link_to "マイページ", users_me_path %></li>  
      
      <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
    </ul>

  </div>
	<hr style="margin:-20px"><br>
</header>
